/** colors array/call function **/
$colors: (
    "primary": #9356DC,
    "secondary": #FF79DA,
    "tertiary": #99E2D0,
    "tertiary-text": #008766,
    "backdrop": #F6F6F6,
    "darker-backdrop": #EAEAEA,
    "footer-backdrop": #353535 );

@function color($color-name) {
    @return map-get($colors, $color-name); }
/** fonts array/call function **/
$fonts: (
    "title": Shrikhand,
    "text": Roboto );

@function font($font-name) {
    @return map-get($fonts, $font-name); }

/** mixins **/
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction; }

/** white filter for logo in footer **/
@mixin whiteFilter {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(114deg) brightness(106%) contrast(101%); }

/** reset page margins **/
@mixin reset {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; }

/** button mixins **/
@mixin remove-button-style {
    background: none;
    border: none;
	color: inherit;
    cursor: pointer;
	font: inherit;
    padding: 0;
	outline: inherit;
    text-decoration: none; }

@mixin button-gradient-background {
    background: linear-gradient(to top, color(primary), color(secondary)); }

@mixin btn-static {
    box-shadow:2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 25px;
    color: white;
    font-family: font(text);
    padding: 15px 10px 15px 10px;
    width: 60%; }

@mixin shadow {
    box-shadow:4px 2px 4px 0 rgba(0, 0, 0, 0.2); }

@mixin btn-hover-effect {
    box-shadow:6px 8px 14px 0 rgba(0, 0, 0, 0.2);
    filter: brightness(110%); }

@mixin fa-icon-add-gradient {
    background-clip: text;
    background-image: linear-gradient(to bottom, color(primary), color(secondary));
    color: transparent; }

/** text formatting mixins **/
@mixin homepage-title {
    font-family: font(text);
    font-size: 22px;
    font-weight: 500; }

@mixin restaurant-page-title {
    color: #101010;
    font-family: font(title);
    font-size: 25px; }

/** animations + animation mixins **/

/** loader **/
@mixin loader-animation {
    animation: loader 3s linear; }

@keyframes loader {
    0% {
      transform: rotate(0); }

    100% {
      transform: rotate(720deg); } }

@mixin hide-loader-animation {
    animation: hide-loader 3s linear;
    animation-fill-mode: forwards; }
  
  @keyframes hide-loader {
    0% {
        opacity: 1; }

    80% {
        opacity: 1; }
    100% {
        display: none;
        opacity: 0; } }

/** for menu item tick container**/
@mixin slide-left-animation {
    animation: slide-left ease 1s; }

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(10px); }
    to {
        opacity: 100%;
        transform: translateX(0px); } }

/** for menu item tick **/
@mixin rotate-animation {
    animation: rotate ease 1.5s; }

@keyframes rotate {
    from {
        transform: rotate(45deg); }
    to {
        transform: rotate(0deg); } }

/** for starters, mains, and dessert loading times**/
@mixin fade-in-animation {
    animation: fadeInAnimation ease 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; }

/** for header + starters, mains, desserts**/
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(1); }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1); 
        visibility: visible; } }

/** for heart button**/
@mixin heart-beat-animation {
    animation: heart-beat ease 1s;
    animation-iteration-count: 1; }

@keyframes heart-beat {
    0% {
        font-size: 1.5rem; }
    50% {
        font-size: 1.7rem; }
    100% {
        font-size: 1.5rem; } }

/** for restaurant image**/
@mixin image-load-animation {
    animation: image-load ease-out 2s; }

@keyframes image-load {
    0% {
        transform: scale(1.3); }
    100% {
        transform: scale(1); } }